@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'), url('Inconsolata.woff2') format('woff2');
}

/*
::selection {
  background: #0080FF;
  text-shadow: none !important;
}
*/
html, body {
  margin: 0;
  height: 100%;
}
body {
  font-family: Inconsolata, monospace;
  color: green;
  background: #000;
}

.hidden {
  display: none !important;
}
.dim > * {
  opacity: 0.4;
}
.dim .help {
  opacity: 1;
}

#container {
  -webkit-transition: -webkit-transform 1.5s ease-in-out;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#container output {
  clear: both;
  width: 100%;
}

.input-line {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  clear: both;
}
.input-line > div:nth-child(2) {
  -webkit-box-flex: 1;
  box-flex: 1;
}
.cmdline {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  color: inherit;
}
button {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select:none;
  user-select: none;
  cursor: pointer;
}
button:not([disabled]):hover {
  border-color: #ffcc00;
}
button:not([disabled]):active {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#E3E3E3), to(#F9F9F9));
}
button[disabled] {
  color: #ccc;
}
.help {
  font-family: 'Droid Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  -webkit-user-select: none;
  user-select: none;
  font-size: 10pt;
}
.help,
.help > section {
  border-radius: 10px;
}
.help > section {
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
  border-radius: 10px;
  color: white;
  position: relative;
  width: 610px;
}
.help section > div:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.help section > div:last-child {
  padding-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.help > section > div {
  background: rgba(0, 0, 0, 1);
  padding: 20px;
}
.help h2 {
  padding-bottom: 8px;
  margin-top: 0;
  margin-bottom: 25px;
  border-bottom: 1px solid #fff;
  color: #ffcc00;
}
.help p strong {
  width: 60px;
  display: inline-block;
}
.help #close {
  border-radius: 20px;
  padding: 2px 6px 2px 7px;
  border: 2px solid #fff;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  font-size: 90%;
  font-weight: bold;
  line-height: 17px;
}
.help #close:active {
  right: 19px;
  top: 21px;
}
.help .shortcuts {
  -webkit-columns: 2;
  columns: 2;
}

#port { width: 50px; }



.content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2px;
  font-size: 15px;
}
.output {
  min-height: 100px;
  flex-grow: 1;
  overflow-y: scroll;
}
.cmd {
  flex: none;
}
